{{#each reservations as |reservation|}}
  <p>Restaurant: {{reservation.name}}</p>
  <p>Number of People: {{reservation.party_number}}</p>
  <p>Date: {{format_date reservation.time}}</p>
  <p>Time: {{format_time reservation.time}}</p>
{{/each}}